* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    color: #fff;
    background: #17181c;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

.container {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
}

header {
    padding: 10px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

header h1 {
    font-size: 40px;
    font-weight: 800;
}

footer {
    padding: 10px 30px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer .copyright {
    font-size: 14px;
    color: #333;
    text-align: center;
}

footer a {
    color: #444;
    padding-left: 5px;
    transition: 0.25s ease;
}

footer a:hover {
    color: #555;
}

footer .copyright:before {
    content: '©';
}

.main {
    flex: 1;
}

.logo {
    max-width: 150px;
}

.logo img {
    width: 100%;
}